.ipynb_checkpoints/
Arq.ipynb
Evidencias/
Imagenes_Etiquetadas_1-50/
Imagenes_Etiquetadas_101-150/
Imagenes_Etiquetadas_151-200/
Imagenes_Etiquetadas_201-300/
Imagenes_Etiquetadas_301-400/
Imagenes_Etiquetadas_401-500/
Imagenes_Etiquetadas_501-600/
Imagenes_Etiquetadas_51-100/
Imagenes_Etiquetadas_601-700/
Imagenes_Etiquetadas_701-800/
Imagenes_Etiquetadas_801-900/
Imagenes_Etiquetadas_901-973/
P1_Facial_Keypoints/
Reportes/
Untitled.ipynb
__pycache__/
carga_datos.py
catus/
codigo/
data/
imagenes/
lineas_labels (1).txt
prueba.jpg
testeo_lineas.ipynb